.pitch {
  height: 450px;
  min-height: 450px;
  background-color: #fff;
  padding: 2em;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 4px 8px 0 rgba(0, 0, 0, 0.1);
  font-family: 'Roboto', sans-serif;
  font-size: 3rem;
  text-align: center;
}

.stretch {
  width: 100%;
  min-width: 100%;
}

.pitch {
  min-height: 90vh;
}

@media screen and (max-width: 320px) {
  .home {
    margin: 0%;
  }
  .pitch {
    font-size: 1.5rem;
  }
}

@media screen and (min-width: 320px) {
  .home {
    margin: 0% 5% 0% 5%;
  }
  .pitch {
      font-size: 1.5rem;

  }
}

@media screen and (min-width:600px) {
  .home {
    margin: 0% 10% 0% 10%;
  }
  .pitch {
    font-size: 1.5rem;
  }
}

@media screen and (min-width: 800px) {
  .home {
    margin: 0% 15% 0% 15%;
  }
  .pitch {
    font-size: 3rem;
  }
}

@media screen and (min-width: 1024px) {
  .home {
    margin: 0% 25% 0% 25%;
  }
}
